.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
}

.custom-box {
  width: 350px;
  height: 200px;
  background-color: #1F0D3F;
  border: 1px solid #BB65FF;
  opacity: 1;
  box-shadow:
    0px 0px 15px rgba(100, 41, 205, 1),
    inset 0px 0px 20px rgba(189, 189, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  position: relative;
  padding: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-box app-input-atom {
  margin-top: -5rem;
  width: 70%;
  margin-right: 1.1rem;
}

.validation-space {
  width: 100%;
  height: 20px;
  margin: 4px 0;
  position: relative;
}


.role-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  width: 70%;
  margin-left: 0.8rem;
}

.role-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  flex-direction: row-reverse;
  gap: 8px;
}

.role-option input[type="radio"] {
  display: none;
}

.custom-box app-button {
  position: absolute;
  margin: 20px;
  bottom: 20px;
  width: 90%;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 2px solid #BB65FF;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease;
}

.custom-radio:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #BB65FF;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.role-option input[type="radio"]:checked + .custom-radio {
  border-color: #BB65FF;
  box-shadow: 0 0 5px rgba(187, 101, 255, 0.5);
}

.role-option input[type="radio"]:checked + .custom-radio:before {
  transform: translate(-50%, -50%) scale(1);
}

.role-text {
  color: white;
  font-size: 14px;
}

.error-message {
  color: #ff4444e3;
  font-size: 14px;
  width: 70%;
  text-align: left;
  margin-left: 50px;
  animation: fadeIn 0.2s ease-in;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  bottom: 0;
  left: 0;
}

.error-message.hidden {
  opacity: 0;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(4px);
}
.role-placeholder {
  height: 40px;
}
