.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}


.card-title {
  color: rgba(255, 255, 255, 0.726);
  font-size: 0.8rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3.4rem;
  background-color: rgba(98, 41, 205, 0.3);
  border-radius: 10%;
  border: 1px solid #c392e9;
  opacity: 1;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  position: relative;

}

.interactive {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.number {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  visibility: visible;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: inherit;
  visibility: hidden;
}

.card.overlay-active .overlay {
  visibility: visible;
}

.card.overlay-active .number {
  visibility: hidden;
}
.admin-transfer-tooltip {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 8rem;
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  cursor: pointer;
}
.card-container:hover .admin-transfer-tooltip {
  display: block;
}
