<main class="game-page-container">
  <header class="logo-container" id="logoContainer">
    <img src="../assets/images/ficha-de-poker.png" alt="Logo">
  </header>
  <h1 class="game-name">{{ gameName }}</h1>

  <header class="header-buttons">
    <div class="user-circle" *ngIf="userName">
      <span>{{ getInitials(userName) }}</span>
    </div>
    <button class="custom-button" (click)="copyInvitationLink()">Invitar jugadores</button>
  </header>

  <section class="table-container">
    <app-table-game
      #tableGame
      [votedCards]="gameState === 'completed' ? gameVotes : {}"
      [currentUserVote]="getCurrentUserVote()"
    ></app-table-game>
  </section>

  <section class="cart-container">
    <ng-container *ngIf="gameState !== 'completed'">
      <app-cart
        *ngFor="let number of fibonacciNumbers"
        [number]="number"
        [isVoted]="getCurrentUserVote().vote === number"
        (cardSelected)="vote(number)"
        [disabled]="!isPlayerRole()"
      ></app-cart>
      <app-cart
        [number]="'?'"
      ></app-cart>
      <app-cart
        [number]="'☕'"
      ></app-cart>
    </ng-container>

    <ng-container *ngIf="gameState === 'completed'">
      <ng-container *ngFor="let votedNumber of objectKeys(gameVotes)">
        <app-cart
          [number]="gameVotes[votedNumber]"
          [votes]="getVotesForNumber(gameVotes[votedNumber])"
        ></app-cart>
      </ng-container>
    </ng-container>
  </section>

  <div *ngIf="isAdminChecked && isAdmin" class="buton-cont">
    <app-button
      [disabled]="!canRevealVotes()"
      (onClick)="revealVotes()"
    >
      Revelar Cartas
    </app-button>
  </div>
</main>
